.wp-block-group #menu .menu-item {
  margin-right: 40px;
  font-size: 17px;
}
.wp-block-group #menu .menu-item a :link {
  text-decoration: none;
}
.wp-block-group #menu .menu-item a :visited {
  text-decoration: none;
}
.wp-block-group #menu .menu-item a :hover {
  color: #8F37FA;
  text-decoration: underline;
}
.wp-block-group #menu .menu-item a :active {
  text-decoration: none;
}
.wp-block-group a :hover {
  color: #8F37FA;
  text-decoration: underline;
}
